<header>
	<h1>KG Eduone</h1>
	<nav>
		<ul>
			<li>
				<a href="/">
					HOME
				</a>
			</li>
			<li>
				<a href="/about">
					회사설명
				</a>
			</li>
			<li>
				<a href="/product">
					상품설명
				</a>
			</li>
		</ul>
	</nav>
</header>